<div style="position: relative;">
  <img src={{getCounty id "banner"}}>
  <div style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px">
    <h2>{{getCounty id "countyName"}} County Appraisal</h2>
    <h3>{{getCounty id "stateName"}}, USA</h3>
  </div>
</div>