<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://github.com/masautt">
    <img src="https://i.imgur.com/BmHXqos.png" width="30" height="30" alt="Marek Sautter">
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home"> ▶️ Start <span class="sr-only"></span></a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="navbar-brand" href="">{{title}}</a>
    </span>
  </div>
</nav>